html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: burlywood;
}


.main-container table tr:nth-child(odd){background-color: #c6c6c6;}
.main-container table tr:nth-child(even){background-color: #616161;}
.main-container table thead tr {
  background-color: #3094ff !important;
}

.full-width-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}